<!DOCTYPE html>
<html lang='en' class=''>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href='/assets/css/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= emit_plugin_css %>
  </head>
  <body>
    <div id='container'></div>
    <%= emit_plugin_html %>
    <script src='/assets/js/jquery-1.11.3.min.js'></script>
    <script src='/assets/js/underscore-min.js'></script>
    <script src='/assets/js/mustache.min.js'></script>
    <script src='/assets/js/Chart.min.js'></script>
    <script src='/assets/js/dasht.js'></script>
    <script src='//maps.googleapis.com/maps/api/js'>
    </script>
    <%= emit_board_js %>
    <%= emit_plugin_js %>
    <%= emit_tile_js %>
    <script>
     window.onload = Dasht.init;
    </script>
  </body>
</html>
